################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs/CSGO Presence/v15/Server/sqlite3
/.vs
/bin/debug
/obj